
{% load crispy_forms_tags %}
{% block start %}

<div class="content-section col-md-8 col-md-offset-2">
  <form method="POST" style="background:linear-gradient(to bottom,#290c0c,#e6bbb5,#a70505);border: px solid black; margin: 4%; padding:10%; border-radius:20px; box-shadow: 5px 20px 50px #000;">
    {% csrf_token %}
    <fieldset class="form-group">
      {{ form|crispy}}
    </fieldset>
    <center>
      <button style="background: rgb(182, 50, 50); font-size: 2rem; margin-top: 5px; color:whitesmoke ;border-radius: 10px; text-align: center;" class="btn btn-outline-info" type="submit"><span class="glyphicon glyphicon-check"></span> &nbsp; Sign up</button>
    </center>
    <br />
    <sub><a href="{% url "login" %}" style="text-decoration: none; color: black; padding:2px; cursor:pointer; margin-right:2%;">Already have an account ?</a></sub>
  </form>
</div>
{% endblock start %}